*.py[cowd]
*.log
*.swp
*.flac
*~
.#*

# virtualenv
env/
venv/
pyvenv.cfg

# pyinstaller
build/
dist/

# automated testing
.coverage
.tox

src/
include/
lib/
lib64
share/
*.egg
.eggs/
*.egg-info
pip-selfcheck.json
flycheck_*
